<!-- Recent Highlights -->
<section id="highlights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.home.work.heading }}</h2>
                <h3 class="section-subheading text-details">{{ site.data.home.work.subheading  }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {%- for time in site.data.home.work.clients -%}
                    {% assign ws = '' %}
                    <li{% cycle '', ' class="timeline-inverted"' %}>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ assets_path }}{{ time.image }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ time.date }}</h4>
                                <h4 class="subheading">{{ time.title }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-details">{{ time.text  }}</p>
                            </div>
                        </div>
                        </li>
                        {%- endfor -%}
                        {% assign ws = '' %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>{{ site.data.home.work.end1 }}
                                    <br>{{ site.data.home.work.end2 }}
                                    <br>{{ site.data.home.work.end3 }}</h4>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</section>