<!-- Modal {{ project.id | replace: '/projects/', '' }} -->
<div class="portfolio-modal modal fade" id="portfolioModal{{ project.id | replace: '/projects/', '' }}" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">{{ project.title }}</h2>
                            <p class="item-intro text-muted">{{ project.description }}</p>
                            <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ project.image }}" alt="">
                            {% assign ws = '' %}
                            {{- project.content -}}
                            {% assign ws = '' %} <ul class="list-inline">
                                <li>{{ site.data.default.modal.date-string }}{{ project.date | date: "%B %Y" }}</li>
                                <li>{{ site.data.default.modal.client-string }}{{ project.client }}</li>
                                <li>{{ site.data.default.modal.category-string }}{{ project.category }}</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="{{ site.data.default.modal.close-icon }}"></i>
                                {{ site.data.default.modal.close-string }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>