<nav class="navbar navbar-agency navbar-expand-lg navbar-dark fixed-top" id="{{ include.id }}">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ site.url }}">{{ site.data.default.brand.name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            {{ site.data.default.menu-string }}
            <i class="fa fa-bars"></i>
        </button>
    </div>
</nav>